<!DOCTYPE html>
<html>
<head>
  <title>CsFrontend</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-area">
  <div id="task-form-div">
    <form id="task-form">
      <p><input type="text" id="new-task-name"/></p>
      <p><input type="submit" id="submit-button" value="OK"/></p>
    </form>
  </div>
  <div id="task-list">
    <ul id="task-list-ul">
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
